# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large training data files (too large for GitHub)
data/flutter_assets/lib/ml_models/ffnn/yeni_xgboost_veri.csv
